<div class="panel main">
    <div class="panel">
        <div class="grid grid-responsive-10">
            {% include breadcrumbs/default.html slug=page.slug %}
            {% include cards/section-cards.html slug="discover" %}
            {% include cards/section-cards.html slug="start" %}
            {% include cards/section-cards.html slug="basics" %}
            {% include cards/section-cards.html slug="hosting" %}
            {% include cards/section-cards.html slug="configure" %}
            {% include cards/section-cards.html slug="contribute" %}
            {% include cards/section-cards.html slug="legal" %}
        </div>
    </div>
</div>
