---
layout: home
---
<div class="panel main">
    <div class="panel">
        <div class="grid grid-responsive-10">
            {% include cards/section-cards.html slug="lib" %}
            {% include cards/section-cards.html slug="game" %}
            {% include cards/section-cards.html slug="system" %}
            {% include cards/section-cards.html slug="software" %}
            {% include cards/section-cards.html slug="configure" %}
            {% include cards/section-cards.html slug="contribute" %}
            {% include cards/section-cards.html slug="legal" %}
        </div>
    </div>
</div>
