<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script> -->
<script src="./assets/scripts/trianglify.min.js"></script>
<script src="./assets/scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        //
        var pattern = Trianglify({
            width: document.body.scrollWidth,
            height: document.body.scrollHeight
        });
        $(".root").css("background-image", "url('" + pattern.png() + "')");
    });
</script>