    <header>
        <div class="header first ">
            <nav class="greedy">
                <div class="top navigation primary">
                    <ul class="links clearfix">
                        <li class="home with-text"><a href="http://www.passbolt.com/"><span>home</span></a></li>
                        <li class="left"><a href="https://www.passbolt.com/services"><span>pricing</span></a></li>
                        <li class="left"><a href="https://demo.passbolt.com" target="_blank" rel="noopener"><span>demo</span></a></li>
                        <li class="left"><a href="https://www.passbolt.com/blog"><span>blog</span></a></li>
                        <li class="left selected"><a href="//help.passbolt.com/"><span>help</span></a></li>
                    </ul>
                    <button class="hidden" count="0">more</button>
                    <ul class="hidden-links hidden"></ul>
                </div>
            </nav>
        </div>
    </header>